yaml
name: CI

on: [push, pull_request]
jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Say Hi
        run: echo "Hi from my first personal Github Actions"
